
  <div class="header">
    <div>
      <img class="logo" [attr.src]="server+world.logo" />
      <span id="worldname"> {{world.name}} </span>
    </div>
    <div>$<span [innerHTML]="world.money | bigvalue"> </span></div>
    <div> 
      <button type="button" id="buttonBuy" *ngIf="qtmulti!=1000" (click)="changeQuantity()"><span>Buy x</span><span>{{qtmulti}}</span></button> 
      <button type="button" id="buttonBuy" *ngIf="qtmulti==1000" (click)="changeQuantity()"><span>Buy </span><span>max</span></button>
    </div>
    <div>Votre ID<input type="text"></div>
  </div>

  <div class="main">
    <div>
      <button type="button">Unlocks</button>
      <button type="button">Cash Upgrades</button>
      <button type="button">Angel Upgrades</button>
      <button type="button">Managers</button>
      <button type="button">Investors</button>
    </div>
    <div class="product">
      <div><app-product [prod]="world.products.product[0]" [qtmulti]="qtmulti" [money]="world.money" class="product col-md-6" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuy($event)"></app-product></div>
      <div><app-product [prod]="world.products.product[1]" [qtmulti]="qtmulti" [money]="world.money" class="product col-md-6" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuy($event)"></app-product></div>
      <div><app-product [prod]="world.products.product[2]" [qtmulti]="qtmulti" [money]="world.money" class="product col-md-6" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuy($event)"></app-product></div>
      <div><app-product [prod]="world.products.product[3]" [qtmulti]="qtmulti" [money]="world.money" class="product col-md-6" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuy($event)"></app-product></div>
      <div><app-product [prod]="world.products.product[4]" [qtmulti]="qtmulti" [money]="world.money" class="product col-md-6" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuy($event)"></app-product></div>
      <div><app-product [prod]="world.products.product[5]" [qtmulti]="qtmulti" [money]="world.money" class="product col-md-6" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuy($event)"></app-product></div>
    </div>
  </div>
